.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 5px;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;
    left:-34%;
    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide frm {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    
	opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: -60%; }

.nav .prev{ left:-60%;}

input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#frm-1:checked ~ .nav-dots label#frm-dot-1,
input#frm-2:checked ~ .nav-dots label#frm-dot-2,
input#frm-3:checked ~ .nav-dots label#frm-dot-3,
input#frm-4:checked ~ .nav-dots label#frm-dot-4,
input#frm-5:checked ~ .nav-dots label#frm-dot-5{
	background: rgba(0, 0, 0, 0.8);
}

#special{
    left:-24%;
}
/*.feature {
    text-align:center;
    vertical-align:center;
    color: white;
    font-size:30px;
    text-shadow: 0px 0px 10px 8px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
*/