{% extends "base.html" %}
{% block title %}
<title>IntroCTF - Admin</title>
{% endblock title %}

{% block body_content %}
<h2 class="center teal-text">Admin</h2>
<div class="center">
    <a class="waves-effect waves-light btn modal-trigger" href="#add_problem">Add Problem</a>

    <div id="add_problem" class="modal">
        <div class="modal-content">
            <h4>Add problem</h4>
            <div class="input-field">
                <input autocomplete="off" name="problem_name" id="problem_name" type="text" required>
                <label for="problem_name">Problem Name</label>
            </div>
            <div class="input-field">
                <textarea id="problem_desc" class="materialize-textarea"></textarea>
                <label for="problem_desc">Problem Description</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_hint" id="problem_hint" type="text" required>
                <label for="problem_hint">Problem Hint</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_category" id="problem_category" type="text" required>
                <label for="problem_category">Problem Category</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_value" id="problem_value" type="number" required>
                <label for="problem_value">Problem Value</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
            <button id="add" name="add" class="modal-action waves-effect waves-teal btn-flat">Add</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock body_content %}
