{% extends "base.html" %}
{% block title %}
<title>IntroCTF - Admin</title>
{% endblock title %}

{% block body_content %}
<h2 class="center teal-text">Admin</h2>
<div class="center">
    <a class="waves-effect waves-light btn modal-trigger" href="#add_problem">Add Problem</a>

    <div id="add_problem" class="modal">
        <div class="modal-content">
            <h4>Add problem</h4>
            <div class="input-field">
                <input autocomplete="off" name="problem_name" type="text" required>
                <label for="problem_name">Problem Name</label>
            </div>
            <div class="input-field">
                <textarea name="problem_desc" class="materialize-textarea"></textarea>
                <label for="problem_desc">Problem Description</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_hint" type="text" required>
                <label for="problem_hint">Problem Hint</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_category" type="text" required>
                <label for="problem_category">Problem Category</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_value" type="number" required>
                <label for="problem_value">Problem Value</label>
            </div>
            <div class="input-field">
                <input autocomplete="off" name="problem_flag" type="text" required>
                <label for="problem_flag">Problem Flag</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-teal btn-flat">Close</a>
            <button id="add" name="add" class="modal-action waves-effect waves-teal btn-flat">Add</button>
        </div>
    </div>
</div>
{% if problems %}
<br>
<div class="container">
    <div class="col s12 m9 l12">
        <ul class="collapsible popout z-depth-2" data-collapsible="expandable">
            {% for problem in problems %}
            <li>
                <div class="collapsible-header"></i>{{ problem[1] }} - {{ problem[5] }} points<span style='float: right'>{{  problem[4] }}</span></div>
                <div class="collapsible-body">
                    <br>
                    <div>
                        <div class="container">
                            <form method="post" class="col s12">
                                <div class="row center">
                                    <a class="btn waves-effect waves-light modal-trigger" href="#preview-modal" name="preview">Preview</a>
                                    <a class="btn waves-effect waves-light modal-trigger" href="#delete-modal" name="delete-modal">Delete</a>
                                </div>
                                <input type="hidden" name="pid" value="{{ problem[0] }}">
                                <div class="input-field">
                                    <input autocomplete="off" name="problem_name" type="text" value="{{ problem[1] }}" required>
                                    <label for="problem_name">Problem Name</label>
                                </div>
                                <div class="input-field">
                                    <textarea name="problem_desc" class="materialize-textarea">{{ problem[2] }}</textarea>
                                    <label for="problem_desc">Problem Description</label>
                                </div>
                                <div class="input-field">
                                    <input autocomplete="off" name="problem_hint" type="text" value="{{ problem[3] }}" required>
                                    <label for="problem_hint">Problem Hint</label>
                                </div>
                                <div class="input-field">
                                    <input autocomplete="off" name="problem_category" type="text" value="{{ problem[4] }}" required>
                                    <label for="problem_category">Problem Category</label>
                                </div>
                                <div class="input-field">
                                    <input autocomplete="off" name="problem_value" type="number" value="{{ problem[5] }}" required>
                                    <label for="problem_value">Problem Value</label>
                                </div>
                                <div class="input-field">
                                    <input autocomplete="off" name="problem_flag" type="text" value="{{ problem[6] }}" required>
                                    <label for="problem_flag">Problem Flag</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
    </div>
</div>
{% endif %}

<div id="preview-modal" class="modal">
    <br>
    <h4 class="center teal-text" id="preview-name"></h4>
    <div class="modal-content">
        <p id="preview-desc"></p>
    </div>
    <div class="row">
        <div class="input-field col s12 m10 l8 offset-m1 offset-l2">
            <input autocomplete="off" id="icon_prefix" name="flag" type="text">
            <label for="icon_prefix">Flag</label>
        </div>
    </div>
    <div class="row center">
        <button class="btn waves-effect waves-light" name="submit" id="preview-submit">Submit
            <i class="mdi-content-send right"></i>
        </button>
        <a class="btn waves-effect waves-light" id="preview-hint">Hint</a>
    </div>
</div>

<div id="delete-modal" class="modal">
    <div class="modal-content">
        <h4>Delete problem</h4>
        <p>Are you sure you want to delete this problem? This cannot be undone.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <button id="delete" name="delete" class="modal-action waves-effect waves-teal btn-flat">Yes</button>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock body_content %}
